<div class = "resume-wrap">
  <div class = "resume" id = "resume">
      <div class = "bio">
        <h1 class = "section-header">About</h1>
        <div class = "bio-left">
          <!-- <p><span class = "bio-key">Who am I?</span> I am a Digital Product Manager who is Detail Oriented, Tech Savvy, & Analytically Focused. I manage tech teams and facilitate effective communication that ensures maximum visibility of the project to all stakeholders using Lean-Agile frameworks, such as Kanban and Scrum. Have the ability to figure out solutions in the midst of chaos. </p>
          <p><span class = "bio-key">What drives me?</span>  I’m fascinated by what software makes possible, and what you can be capable of if you push yourself and stretch your resources. My aim is to view the product and its features from the eyes of the user and to create an optimized experience that eases pain points and brings joy.</p>
          <p><span class = "bio-key">What else do I love?</span> In free time, I love playing Snooker. Avid reading, exploring the history & culture of various places is my preferred way of learning and making sense of the world.</p> -->

          <div class="infotab">
            <button class="tablinks bio-key active" onclick="openCity(event, 'q1')" id="defaultOpen">Who am I?</button>
            <button class="tablinks bio-key" onclick="openCity(event, 'q2')">What drives me?</button>
            <button class="tablinks bio-key" onclick="openCity(event, 'q3')">What else do I love?</button>
          </div>

          <div id="q1" class="infotabcontent">
            <!-- <h3>Who am I?</h3> -->
            <!-- <p class="pd10">I am a Digital Product Manager who is  -->
            <p class="pd10">I am a Product enthusiast who is <span class="key-term">Tech Savvy</span>, <span class="key-term">Detail Oriented</span>, & <span class="key-term">Analytically Focused</span>. I manage tech teams and facilitate effective communication that ensures maximum visibility of the project to all stakeholders using Lean-Agile frameworks, such as Kanban and Scrum. Have the ability to figure out solutions in the midst of chaos.<br> <href id="seeMore">See More...</href></p>
          </div>

          <div id="q2" class="infotabcontent" style="display:none">
            <!-- <h3>What drives me?</h3> -->
            <p class="pd10">I’m fascinated by what software makes possible, and what you can be capable of if you push yourself and stretch your resources. <br><br>I love data, design, psychology, economics, and efficiency. I love how they all blend together in the process of creating great software products.</p> 
          </div>

          <div id="q3" class="infotabcontent" style="display:none">
            <!-- <h3>What else do I love?</h3> -->
            <p class="pd10">In free time, I love playing Snooker.<br><br>Avid reading, exploring the history & culture of various places is my preferred way of learning and making sense of the world.</p>
          </div>
        </div>
        <div class = "bio-right">
          <div class = "availability">
            <!-- <p><span class = "bio-key">Availability</span><br /><br /> -->
            <!-- I am looking for full-time Product Management/ Project Management/ Tech. Sales roles in companies that strive to bring about lasting social and technological changes. If you have an idea for a collaboration, hit me up and we could discuss over a coffee! -->
              <span class = "bio-key">Skills</span><br />
            </div>
            <div> 
              <table class="table borderless">
                <tbody>
                  <tr>
                    <td>Data + Analytics</td>
                    <td>
                        <ul class="tags">
                          <li><a class="tag">Tableau</a></li>
                          <li><a class="tag">Microsoft Excel</a></li>
                          <li><a class="tag">SQL</a></li>
                          <li><a class="tag">Google Analytics</a></li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Programming</td>
                    <td>
                        <ul class="tags">
                          <li><a class="tag">JavaScript</a></li>
                          <li><a class="tag">AngularJS</a></li>
                          <li><a class="tag">NodeJS</a></li>
                          <li><a class="tag">jQuery</a></li>
                          <li><a class="tag">CSS/SASS</a></li>
                          <li><a class="tag">HTML5</a></li>
                          <li><a class="tag">Git</a></li>
                          
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Product + Design</td>
                    <td>
                        <ul class="tags">
                          <li><a class="tag">Wireframing/Mockups</a></li>
                          <li><a class="tag">User story writing</a></li>
                          <li><a class="tag">User Personas</a></li>
                          <li><a class="tag">Product roadmapping</a></li>
                          <li><a class="tag">Agile Development </a></li>
                          <li><a class="tag">Project Mgmt.</a></li>
                          <!-- <li><a class="tag">JIRA</a></li> -->
                        </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              
          </div>
          <!-- <a class = "resume-button primary-button" href ="{{ site.url }}/ArushResume.pdf" target = "_blank"><i class="fa fa-file-pdf-o button-fa"></i> Print-friendly Resume</a>
          <a class = "resume-button secondary-button" href ="#contact">Let's Talk!</a> -->
        </div>
      </div> <br/><br/>

     
      <div class = "timeline">
        <p class = "bio-key">Experience</p>
        <section id="cd-timeline" class = "cd-container">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
              <i class="fa fa-briefcase fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-right" data-aos-duration="2000">
              <!-- <div class="jwLogo">  </div> -->
              <a href = "https://idfcfirstbank.com/" target="_blank"><img src = "../img/IDFC.jpg" /></a>
              <h2>IDFC First Bank</h2>
              <h3 class = "role">Product Manager - XSell</h3>
              <p>Designing workflows & platforms to build seamless Digital Banking Platforms. High level of engagement & collaboration with Credit, Risk-Policy, Ops, Legal, Collections, Compliance, Finance & IT to enhance business dynamics.</p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">October 2020 - Present</span>
              <!-- <span class="cd-date">May 2016 - <span class = "present">present</span></span> -->
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
              <i class="fa fa-briefcase fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-left" data-aos-duration="2000">
              <!-- <img src = "../img/cogni-hab-logo.svg" /> -->
              <a href = "https://www.cognihab.com/" target="_blank"><img src = "../img/cognihab.png"/></a>
              <h2>Cognihab - Kompanions</h2>
              <h3 class = "role">Product Manager</h3>
              <p>Creating Virtual Reality based digital healthcare solutions for various Vision & Movement Related Disorders. Built prototypes into end-products & shaped a cohesive, creative, and innovative vision & strategy</p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">June 2020 to September 2020</span>
            </div>
          </div>     
          <div class="cd-timeline-block"">
            <div class="cd-timeline-img cd-work">
              <i class="fa fa-briefcase fa-2x"></i>
            </div>
            <div class="cd-timeline-content"  data-aos="anim-right" data-aos-duration="2000">
              <a href = "https://www.wipro.com/" target="_blank"><img src = "../img/Wipro.png" /></a>
              <h2>WIPRO</h2>
              <h3 class = "role">Pre Sales Consultant (Summer Internship)</h3>
              <p>Researched next-gen tech. - 𝗣𝗿𝗼𝗰𝗲𝘀𝘀 𝗠𝗶𝗻𝗶𝗻𝗴, designed an evaluation framework for benchmarking 5 largest global vendors. Also, prepared an 𝗥𝗙𝗣 for hyper-automation of an O2C process for a European manufacturing giant</p>
              <span class="cd-date"  data-aos="anim-date" data-aos-duration="1000">April 2019 - May 2019</span>
              <!-- <span class="cd-date">May 2016 - <span class = "present">present</span></span> -->
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-acad">
              <i class="fa fa-graduation-cap fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-left" data-aos-duration="2000">
              <a href = "https://www.mdi.ac.in/" target="_blank"><img src = "../img/mdi.jpg" /></a>
              <h2> MDI Gurgaon (Masters)</h2>
              <h3 class = "role">Focus: MBA, International Business</h3>
              <p class = "gpa">GPA: 7.10/10</p>
              <p>This program helped me dive in intense period of personal & professional transformation with a diverse community of colleagues that prepared me for challenges in any functional area.</p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">July 2018 - April 2020</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
              <i class="fa fa-briefcase fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-right" data-aos-duration="2000">
              <!-- <div class="jwLogo">  </div> -->
              <a href = "https://jungleworks.com/" target="_blank"><img src = "../img/jungle.png" /></a>
              <h2>JungleWorks</h2>
              <h3 class = "role">Project Manager - Software Development</h3>
              <p>Led a cross-functional team of developers while practicing agile practices. Executed full-stack product development projects. Worked heavily on product design, user story/personas, stakeholder management, and growth strategies.</p>
              <p>
              𝗕𝘂𝗶𝗹𝘁 𝗿𝗼𝗯𝘂𝘀𝘁 𝗘𝗥𝗣 𝗽𝗹𝗮𝘁𝗳𝗼𝗿𝗺 𝗳𝗼𝗿 𝗧𝗲𝗹𝗲𝗰𝗼𝗺 𝗖𝗼𝘀. 𝗰𝗹𝗼𝗰𝗸𝗶𝗻𝗴 $𝟭𝗠+ 𝗿𝗲𝘃𝗲𝗻𝘂𝗲 𝘄𝗶𝘁𝗵𝗶𝗻 𝟯 𝗺𝗼𝗻𝘁𝗵𝘀.
              </p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">August 2015 - May 2017</span>
              <!-- <span class="cd-date">May 2016 - <span class = "present">present</span></span> -->
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-work">
              <i class="fa fa-briefcase fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-left" data-aos-duration="2000">
              <a href = "https://bnymellon.com/" target="_blank"><img src = "../img/BNY.png" /></a>
              <!--   <img src = "../img/bny.svg" />-->
              <!--<div class="bnyLogo" style="height:50x">  </div> -->
              <h2>Bank of New York Mellon</h2>
              <h3 class = "role">Applications Developer</h3>
              <p>Working as a software developer, building applications for US Government's asset management department. Hands-on approach to designing architecture, writing technical specifications, code + automated tests, and QA.</p> <p>𝗥𝗲𝗰𝗲𝗶𝘃𝗲𝗱 ‘𝗪𝗢𝗪 𝗮𝘄𝗮𝗿𝗱’ 𝗮𝗻𝗱 𝗵𝗶𝗴𝗵𝗲𝘀𝘁 𝗶𝗻𝗰𝗿𝗲𝗺𝗲𝗻𝘁 𝗼𝗳 ~𝟰𝟬% 𝗮𝗺𝗼𝗻𝗴𝘀𝘁 𝟯𝟱𝟬+ 𝘁𝗿𝗮𝗶𝗻𝗲𝗲𝘀</p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">June 2015 to April 2017</span>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-acad">
              <i class="fa fa-graduation-cap fa-2x"></i>
            </div>
            <div class="cd-timeline-content" data-aos="anim-right" data-aos-duration="2000">
              <a href = "https://www.chitkara.edu.in/engineering/electronics-communication-engineering" target="_blank"><img src = "../img/chitkara.png" /></a>
              <h2>Chitkara University (Bachelors of Engineering)</h2>
              <h3 class = "role">Focus: Electronics & Communication</h3>
              <p class = "gpa">GPA: 7.13/10</p>
              <p>Engrossed in electronic circuits while building higher level of analytical and engineering design skills.</p>
              <span class="cd-date" data-aos="anim-date" data-aos-duration="1000">July 2011 to May 2015</span>
            </div>
          </div>
        </section>
      </div>

  </div>
</div>
