<div class = "resume-wrap">
  <div class = "resume" id = "resume">
      <div class = "bio">
        <h1 class = "section-header">About</h1>
        <div class = "bio-left">
          <p><span class = "bio-key">Who am I?</span> I am a Mumbai based Digital Product Manager who is Detail Oriented, Tech Savvy, & Analytically Focused. I manage tech teams and facilitate effective communication that ensures maximum visibility of the project to all stakeholders using Lean-Agile frameworks, such as Kanban and Scrum. Have the ability to figure out solutions in the midst of chaos. </p>
          <p><span class = "bio-key">What drives me?</span>  I’m fascinated by what software makes possible, and what you can be capable of if you push yourself and stretch your resources. My aim is to view the product and its features from the eyes of the user and to create an optimized experience that eases pain points and brings joy.</p>
          <p><span class = "bio-key">What else do I love?</span> In free time, I love playing Snooker. Avid reading, exploring the history & culture of various places is my preferred way of learning and making sense of the world.</p>
        </div>
        <div class = "bio-right">
          <div class = "availability">
            <p><span class = "bio-key">Availability</span><br />
            I am looking for full-time digital product manager roles in companies that strive to bring about lasting social and technological changes. If you have an idea for a collaboration, hit me up and we could discuss over a coffee!</p>
          </div>
          <a class = "resume-button primary-button" href ="{{ site.url }}/ArushResume.pdf" target = "_blank"><i class="fa fa-file-pdf-o button-fa"></i> Print-friendly Resume</a>
          <a class = "resume-button secondary-button" href ="#contact">Let's Talk!</a>
        </div>
      </div> <br/><br/>


      <div class = "timeline">
        <p class = "bio-key">Experience</p>
        <section class="cd-timeline js-cd-timeline">
          <div class="container max-width-lg cd-timeline__container">
            <div class="cd-timeline__block">
              <div class="cd-timeline__img cd-timeline__img--picture">
                <img src="assets/img/cd-icon-picture.svg" alt="Picture">
              </div> <!-- cd-timeline__img -->

              <div class="cd-timeline__content text-component">
                <h2>Title of section 1</h2>
                <p class="color-contrast-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>

                <div class="flex justify-between items-center">
                  <span class="cd-timeline__date">Jan 14</span>
                  <a href="#0" class="btn btn--subtle">Read more</a>
                </div>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block">
              <!-- ... -->
            </div> <!-- cd-timeline__block -->
          </div>
        </section> <!-- cd-timeline -->
      </div>

  </div>
</div>
