<div class = "contact-wrap">
  <div class = "contact" id = "contact">
      <h1 class = "section-header mb-30">Get In Touch</h1>
      <div class = "contact-left">
        <div class = "headshot">
          <img src = "../img/head.webp"/>
        </div>
        <div class = "contact-note">
          <p>Always learning. Always adjusting the blueprint. I'm interested in connecting with teams building impactful products&mdash;whether in HealthTech, AI platforms, or beyond. Let's talk.</p>
        </div>
      </div>
      <div class = "contact-form">
        <form action="https://formspree.io/f/maylppgy" method="POST" class="form-stacked">
          <label for="formName">Your name</label>
          <input type="text" id = "formName" name="name" class="field-light" placeholder="Name*" required>
          <label for="formEmail">Your email address</label>
          <input type="email" id = "formEmail" name="email" class="field-light" placeholder="Email Address*" required>
          <label for="formMessage">Your message</label>
          <textarea type="text" id = "formMessage" name="message" class="field-light" rows="5" required placeholder="What would you like to discuss?"></textarea>
          <input type="hidden" name="_next" value="{{ site.url }}/thanks.html" />
          <input type="hidden" name="_subject" value="New submission!" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="primary-button intro-button" value="Send Message">
          <a class = "secondary-button" href ="{{ site.url }}/ArushResume1.pdf" target = "_blank"><i class="fa fa-file-pdf-o button-fa"></i> Download Resume</a>
        </form>
      </div>
  </div>
</div>
