<footer id = "footer">
  <div class = "footer-wrap">
    <div class = "footer">
      <div class = "social">
        <h2 class = "footer">Connect</h2>
        <a href = "https://www.linkedin.com/in/{{site.linkedin}}" class = "footer-icon" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
        <a href = "https://www.github.com/{{site.github}}" class = "footer-icon" target="_blank"><i class="fa fa-github fa-lg"></i></a>
        <a href = "https://arusharma.medium.com" class = "footer-icon" target="_blank"><i class="fa fa-medium fa-lg"></i></a>
        <a href = "mailto:arush361@gmail.com?subject=Hello!" class = "footer-icon"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
    </div>
    <div class = "footer-text">&copy; Arush Sharma 2026</div>
  </div>
</footer>
