<input id = "slide-menu-toggler" type = "checkbox" />
<label for = "slide-menu-toggler" class = "hamburger"><i class="fa fa-bars fa-2x"></i></label>
<div class = "slide-menu">
  <a class = "ham-nav-link" href = "#top">
    <div class = "ham-logo">
        <img src = "../img/logo.png"/> 
    </div>
  </a>
  <nav>
    <ul>
      <a class = "ham-nav-link" href = "#work"><li>Blog</li></a>
      <a class = "ham-nav-link" href = "#resume"><li>About</li></a>
      <a class = "ham-nav-link" href = "#contact"><li>Contact</li></a>
    </ul>
  </nav>
</div>
<div class = "nav-wrap">
  <div class = "nav" id = "papa-nav">
    <a href = "#top"><div class = "logo mt-16"></div></a><!--  <span><span style="color: #faa82e">arush </span>sharma</span> -->
    <nav>
      <ul>
        <li><a href = "#work">Blog</a></li>
        <li><a href = "#resume">About</a></li>
        <li><a href = "#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
