
		  <div id="seeMoreModal" class="modal">

		  <!-- Modal content -->
			  <div class="modal-content">
			    <div class="modal-header">
			      <span class="close">&times;</span>
			      <h3>About Me</h3>
			    </div>
			    <div class="modal-body">
			      <p>As a former Software Engineer turned Product Manager, I have built awareness for the <span class="key-term">small details</span>, which is helpful for working through requirements, visualizations, models, and prototypes with cross-functional team members. I can appropriately approach problem-solving and actively maintain a holistic viewpoint through various phases.</p>
			      <p>Experiences in a wide range of disciplines have given me unique insights into the <span class="key-term">product lifecycle</span> and has allowed me to think through the entire customer journey while challenging our own assumptions.</p>
			      <p><b>I care deeply about creating <span class="key-term">world-class, useful, </span>and<span class="key-term"> beautiful products</span> that help people and make a difference.<b></p>
			    </div>
			  </div>

			</div>
