<div class = "projects-wrap">
  <div class = "projects" id = "work">
    <h1 class = "section-header">Blog</h1>
<!-- Start embed -->    
    <div id="retainable-rss-embed" 
      data-rss="https://medium.com/feed/@arusharma" 
       data-maxcols="4" 
       data-layout="slider" 
       data-poststyle="modal" 
       data-readmore="Read more" 
       data-buttonclass="btn btn-primary" 
       data-offset="-200">&#160;
     </div>
      <div class="allArticles">
         <a href = "https://arusharma.medium.com" target="_blank">View All Articles</a>
      </div>
  </div>
</div>
